{% extends "registerapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section">
        <h6> You have successfully logged out </h6>
    <div class="mt-2">
        <a class="btn btn-sm btn-outline-info" href="{% url 'login' %}"> Log in Again</a>
    </div>
        <h6>Or Register as an Applicant</h6></h2>
    <div class="mt-2">
        <a class="btn btn-sm btn-outline-info" href="{% url 'register' %}">Register</a>
    </div>
    </div>

{% endblock content %}
